* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 250px 250px 250px 250px;
  gap: 10px;
  background-color: #faed8a;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.user-inputs {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.scene-container {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

label {
    margin: 1em auto;
    max-width: 500px;
    font-size: large;
}

p {
  margin: 1em auto;
  max-width: 500px;
  font-size: large;
}